.App {
  padding-top: 2rem;
  text-align: center;
  font-family: 'Averia Serif Libre', serif;
  font-size: 1.5rem;
  color: #492E1E;
}

.App-title-card {
  max-width: 95vw;
}

.App-phrase {
  padding: 2rem;
}

.App-button {
  color: #492E1E;
  font-family: adrianna-extended,sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.1rem;
  padding: 1rem;
  background-color: #df9088;
  border-radius: 5px;
  border: none;
  box-shadow: 0px 1px 1px 1px rgb(70, 43, 26);
}

.App-button:hover {
  background-color: #E06C5F;
  transform: translateY(1px);
}

.App-credits {
  font-size: .85rem;
  padding-top: 3rem;
}

.App-credits a {
  text-decoration: none;
  color: #E06C5F;
}


